body {
  background-color: #EEEEEE;
}

.todolist, .add-new {
  background-color: #FFF;
}

.todolist h1, .add-new h1 {
  text-align: center;
}

.form-control {
  border-radius: 0;
}

li.ui-state-default {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

li.ui-state-default:last-child {
  border-bottom: none;
}

.todo-footer {
  background-color: #F4FCE8;
  border-top: 1px solid #dee2e6;
  margin: 0 -24px -10px -24px;
}

.checked label {
  text-decoration: line-through;
}

.ui-state-default label {
  width: 200px;
}


